[popover]::backdrop {
  backdrop-filter: blur(3px);
  background: rgb(0 0 0 / 40%);
}

h1 {
  text-align: center;
}

button {
  padding: 0;
  border: none;
  background: none;

  &.cta {
    left: 15px;
    bottom: 15px;
    color: white;
    padding: 5px 15px;
    background: black;
    position: absolute;
    border-radius: 15px;
  }
}

ul {
  margin: 25px 0 0 0;
  padding: 20px 0 0 0;
  list-style-type: none;
  border-top: 1px solid #999;

  li {
    display: flex;
    margin: 15px 0;

    button {
      font-size: 1.5em;
      margin-inline: 10px;

      &:first-child {
        flex: 1;
        text-align: left;
      }
    }
  }
}
